Repository freelock/drupal-flake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

Path conditions:
  validate-flake: any of: *.nix, template/**/*.nix, flake.lock, template/flake.lock
  validate-template: any of: template/**/*
  test-demo-functionality: any of: template/**/*, tests/test-demo.sh
  test-xdebug-functionality: any of: template/**/*.nix, tests/test-xdebug.sh

Issue #3538838: Add tests for this project
  tests/test-demo.sh
  tests/test-xdebug.sh
Due: test-demo-functionality, test-xdebug-functionality

Issue #3538838: Add tests for this project
  .gitlab-ci.yml
  tests/test-demo.sh
  tests/test-xdebug.sh
Due: test-demo-functionality, test-xdebug-functionality

Issue #3538838: Add tests for this project
  tests/test-xdebug.sh
Due: test-xdebug-functionality

Issue #3538838: Add tests for this project
  .gitlab-ci.yml
Due: none

Issue #3539018: Run in detached mode
  .gitignore
  README.md
  flake.nix
  template/.services/bin/setup-starship-prompt
  template/.services/bin/starship-process-compose
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

WIP: Test commit for CI
  tests/test-xdebug.sh
Due: test-xdebug-functionality

WIP: Test commit for CI
  tests/test-demo.sh
  tests/test-xdebug.sh
Due: test-demo-functionality, test-xdebug-functionality

Issue #3538838: Add tests for this project
  template/flake.nix
  tests/test-demo.sh
  tests/test-xdebug.sh
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3530842] fix: Fix name collision of php-fpm service from Services Flake
  flake.lock
  flake.nix
  template/.services/php-fpm.nix
  template/flake.lock
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

fix(flake.lock): Update flake sources - php8.3.24
  flake.lock
  template/flake.lock
Due: validate-flake, validate-template, test-demo-functionality

[#3539436] feat: Install other flavors of Drupal besides just Drupal CMS
  template/.services/init.nix
  template/flake.nix
  tests/test-detached-parsing.sh
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

fix(direnv): Refresh direnv when .env is changed
  template/.envrc
Due: validate-template, test-demo-functionality

fix(php): Update flake.lock to pick up php8.3.25, 8.4.11
  flake.lock
  template/flake.lock
Due: validate-flake, validate-template, test-demo-functionality

[#3517559] feat: Running PHPUnit tests
  template/.services/bin/nix-settings
  template/.services/php-fpm.nix
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3517559] feat: Running PHPUnit tests
  template/.services/bin/phpunit-module
  template/.services/bin/phpunit-setup
Due: validate-template, test-demo-functionality

[#3517559] feat: Running PHPUnit tests
  template/.services/bin/nix-settings
Due: validate-template, test-demo-functionality

[#3517559] feat: Running PHPUnit tests
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3517559] feat: Running PHPUnit tests
  template/.services/bin/phpunit-custom
  template/.services/bin/phpunit-setup
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3517559] feat: Running PHPUnit tests
  template/.services/bin/phpunit-setup
Due: validate-template, test-demo-functionality

[#3517280] feat: Add support for additonal packages
  README.md
  template/.services/bin/nix-settings
  template/.services/php-fpm.nix
  template/flake.nix
  template/local-extensions.nix.example
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3538838] feat: Add tests for this project
  .gitlab-ci.yml
Due: none

fix(.gitlab-ci): Use Drupal-standard stage for tests
  .gitlab-ci.yml
Due: none

fix(gitlab-ci): Attempts to make tests run on drupal ci
  .gitlab-ci.yml
Due: none

[#3538838] feat: Add tests for this project
  .gitlab-ci.yml
  template/flake.nix
  tests/test-demo.sh
  tests/test-xdebug.sh
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3538838] feat: Add tests for this project
  template/flake.nix
  tests/test-demo.sh
  tests/test-xdebug.sh
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3517280] feat: Add support for additonal packages
  template/.services/php-fpm.nix
  template/flake.nix
  template/local-extensions.nix.example
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

fix(process-compose): disable-healthcheck is not a valid arg
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

tests(xdebug): Fix xdebug test failures
  template/.services/php-fpm.nix
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3549620] feat: Increase file upload size
  template/.services/php-fpm.nix
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3549808] fix: data/php-cli files cause issues with sites using devshell but not process-compose
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

[#3549805] feat: Make max file upload size configurable
  template/.env.example
  template/.services/config.nix
  template/.services/init.nix
  template/.services/php-fpm.nix
  template/flake.nix
  tests/test-xdebug.sh
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

WIP: Test commit for CI
  tests/test-demo.sh
Due: test-demo-functionality

fix(flake.lock): Update lock file for new php 8.3.26 version
  flake.lock
  template/flake.lock
Due: validate-flake, validate-template, test-demo-functionality

fix(start-detached): Fix for tests broke start-detached
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality

fix(flake): Remove non-existant cli.tui option
  template/flake.nix
Due: validate-flake, validate-template, test-demo-functionality, test-xdebug-functionality
